<nav>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="{{ site.basepath }}introduction/">Introduction</a></li>
    <li><a href="{{ site.basepath }}installation/">Installation</a></li>
    <li>
      <a href="{{ site.basepath }}api/">API</a>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ site.basepath }}api/core/">Core</a></li>
        <li><a href="{{ site.basepath }}api/method/">Method</a></li>
        <li><a href="{{ site.basepath }}api/event/">Event</a></li>
        <li><a href="{{ site.basepath }}api/callback/">Callback</a></li>
      </ul>
    </li>
    <li><a href="{{ site.basepath }}guide/">Guide</a></li>
    <li><a href="{{ site.basepath }}client-side-load-balancer/">LoadBalancer</a></li>
    <li><a href="{{ site.basepath }}changelog/">ChangeLog</a></li>
  </ul>
</nav>
