<nav>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="introduction/">Introduction</a></li>
    <li><a href="installation/">Installation</a></li>
    <li>
      <a href="api/">API</a>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="api/core/">Core</a></li>
        <li><a href="api/method/">Method</a></li>
        <li><a href="api/event/">Event</a></li>
        <li><a href="api/callback/">Callback</a></li>
      </ul>
    </li>
    <li><a href="guide/">Guide</a></li>
    <li><a href="client-side-load-balancer/">LoadBalancer</a></li>
    <li><a href="browser/">Browser</a></li>
    <li><a href="jquery/">jQuery</a></li>
    <li><a href="changelog/">ChangeLog</a></li>
  </ul>
</nav>
